.left-panel {
    background: rgb(225, 145, 70);
    color: rgb(0, 0, 0);
    min-height: 100vh;   
}
    header svg{
        width: fit-content;
        height: 9em;
        margin-top: 1.7em;
        margin-bottom: 0.7em;
        margin-left: 0.4em;
        align-items: center;
    }
    nav{
        padding-left: 3.3em;
    }


    nav svg {
        height: 1.3em;
        margin-right: 0.9em;
    }

    nav > *, button.inscripcion {
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        font-size: 1.3em;
        
        width: 100%;
        
        span{
            display: flex;
            align-items: center ;
            height: 2.7rem;
            width: fit-content;
            padding: 0 0.7em;
        }

        &:hover span{
            color: rgb(147, 71, 0);
            border-radius: 1.5em;
            background: rgb(224, 128, 39);
        }
    }
    button{
        background-color: unset;
        border: unset;
    }
    button.Apoyanos{
        display: block;
        background: rgb(147, 71, 0);
        color:#fff;
        font-weight: 500;
        width: 14em;
        height: 3em;
        border-radius: 1.5em;
        font-size: 1em;
        margin-top: 0.5em;
        margin-left: 3.7em;
        cursor: pointer;

        &:hover {
            background: rgb(150, 85, 25);
        }
    }
