@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.card-height{
    height: 50%;
}
.titulo{
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.parrafo{
    
    text-align: justify;
    margin-left:20%;
    margin-right:20%;
    
}


.cajacontainer{
    margin-left:20%;
    margin-right:20%;
    margin-top:5%;

}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    filter: brightness(40%);
}
.hero-container {
    
    height: 95vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    filter: brightness(100%);
    object-fit: contain;
    justify-content:center ;

}

.hero-container > h1{
    color: #fff;
    font-size: 80px;
    margin-top: -1%;
    font-weight: 700;

}

.hero-container > p {
    margin-top: 0px;
    color: rgb(255, 255, 255);
}
.Home-section1 {
    align-items: center;
    justify-content:center ;
    margin-left: 20%;
    margin-right: 20%; 

}
.Home-section1 > h1 { 
    margin-top: 2rem;
    font-size: 50px;
    font-weight: 700;
}
.Home-section1 > p { 
    margin-top: 1rem;
    font-size: 25px;
    text-align: justify;
}


@media screen and (max-width: 1060px) {
    .cajacontainer {
        margin-left:5%;
        margin-right:5%;
        margin-top:5%;
    }
    .hero-container > h1{
        font-size: 60px;
    }
}
@media screen and (max-width: 800px) {
   
    .hero-container > h1{
        font-size: 50px;
        
    }
}
@media screen and (max-width: 670px) {
   
    .hero-container > h1{
        font-size: 30px;
        
    }
}

 



/* center the blockquote in the page */
.blockquote-wrapper {
    display: flex;
    height: 40vh;
    padding: 0 20px;
 }
 
 /* Blockquote main style */
 .blockquote {
     position: relative;
     font-weight: 700;
     color: #000;
     padding: 30px 0;
     width: 100%;
     max-width: 500px;
     z-index: 1;
     margin: 10px auto;
     margin-top: 2rem;
     align-self: center;
     border-top: solid 3px;
     border-bottom: solid 3px;
     color: #fff;
 }
 
 /* Blockquote header */
 .blockquote h1 {
     position: relative;
     color: #000;
     font-size: 40px;
     font-weight: 700;
     line-height: 1;
     margin: 0;
     color: #fff;
 }
 
 /* Blockquote right double quotes */
 .blockquote:after {
     position: absolute;
     content: "â€";
     color: #000;
     font-size: 10rem;
     line-height: 0;
     bottom: -43px;
     right: 30px;
     color: #fff;
 }
 
 /* increase header size after 600px */
 @media all and (min-width: 600px) {
     .blockquote h1 {
         font-size: 60px;
    }
 
 }
 
 /* Blockquote subheader */
 .blockquote h4 {
     position: relative;
     color: #000;
     font-size: 1.4rem;
     font-weight: normal;
     line-height: 1;
     margin: 0;
     padding-top: 20px;
     z-index: 1;
     color: #fff;
 }




 .titulo_card {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 200%;
 }

 .container_card{
    margin-top:3rem ;
    border-radius: 2rem;
    max-width: 100%;
    background-color: rgb(242, 242, 242);
    border: none;
 }
 .img_card{
    border-radius: 2rem;
 }
 .card-text{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    text-align: center;
 }

 @media screen and (max-width: 800px) {
   
    .container_card{
        max-width: 60%;
        left:20%;
    }
    .titulo_card {
        margin-top: 1rem;
        text-align: center;
        margin-bottom: 1rem;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 100%;

     }
}

@media screen and (max-width: 670px) {
    .Home-section1 > h1 { 
        margin-top: 3rem;
        font-size: 30px;
        font-weight: 700;
    }
    .Home-section1 > p { 
        margin-top: 0rem;
        font-size: 22px;
        text-align: justify;
    }

}

.Galeria{
     -webkit-column-count: 3;
     -moz-column-count: 3;
     column-count: 3;
     -webkit-column-width: 33%;
     -moz-column-width: 33%;
     column-width: 33%;
     padding:0 12px;
}

.Galeria .Imagenes{
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom:12px;
    border-radius:2rem;


}

.Galeria .Imagenes:hover{
    filter: opacity(.8);
}

@media (max-width: 990px){
    .Galeria{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
   }
   
}
@media (max-width: 480px){
    .Galeria{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
        padding:0 12px;
   }
   
}

/*imagen en pantalla*/

.model{
    width: 100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000;
    transition:opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;


}
.model.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    background-color: rgba(0,0,0,0.8);
}

.model img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box ;
    padding:20px 0 20px;
    margin:0 auto;

}

.model.open svg{
    position:fixed;
    top:10px;
    right:10px;
    width: 100vh;
    height: 100vh;
    padding:5px;
    background-color: rgba(0,0,0,0.2);
    background-color:#fff;
    cursor: pointer;
}